body {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.4;
    background-color: #000;
    color: #ddd;
  }
  
  a, a:link, a:hover, a:visited, a:focus, a:active {
    color: #eee;
  }
  
  h1 {
    line-height: 1;
    margin: 0 0 1em 0;
  }
  
  body > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em 0 0 0;
    max-width: 50em;
  }
  
  body > div > div {
    flex: 0 1 15em;
    margin: 0 0 2em 0;
  }
  
  body > div > div:first-child {
    padding: .5em 1em;
    border: .3em double #333;
  }
  
  label {
    display: block;
  }
  
  
  button,
  input {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: inherit;
    background: transparent;
    border: .01em solid currentColor;
  }
  
  button {
    margin: .5em 0 1.5em 0;
    border-width: .1em;
    border-radius: .5em;
  }
  
  button:focus, button:hover {
    border-color: #f00;
    outline: none;
  }
  
  input {
    width: 3.75em;
  }
  
  #CistercianGlyph {
    width: 15em;
  }